*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* write all your rules below */
h1{
    border: 10px red solid;
    background-color: pink;
    display: flex;
    margin: 40px;
}
.box-style1{
    background-color: aquamarine;
    width: 100vw;
    height: 30vh;
    display: flex;
    align-items: center;
    padding: 100px;
}
.box-style2{
    border: 10px pink solid;
    background-color: yellow;
    margin: 20px;
    height: 17vh;
}
.purple-text{
    color: purple;
}
#blue-text{
    color: blue;
}
#green-text{
    color: green;
}